*.*
.vscode
/.vscode/**
/.pytest_cache
/.pytest_cache/**
/__pycache__
/__pycache__/**
*.json
!*.py
!*.ipynb
!.gitignore
!./Assignment/**
!./Assignment/hw0/**
!./Assignment/hw1/**
!./Assignment/hw2/**
!./Assignment/hw3/**
!Makefile
!README.md
!./Notes/**